@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0, 0%, 3.9%;
        --foreground: 0, 0%, 98%;

        --card: 0, 0%, 3.9%;
        --card-foreground: 0, 0%, 98%;

        --popover: 0, 0%, 3.9%;
        --popover-foreground: 0, 0%, 98%;

        --primary: 0, 0%, 45.1%;
        --primary-200: 0, 0%, 89.8%;
        --primary-300: 0, 0%, 83.1%;
        --primary-600: 0, 0%, 32.2%;
        --primary-800: 0, 0%, 14.9%;
        --primary-900: 0, 0%, 9%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 0, 0%, 83.1%;
        --secondary-foreground: 0, 0%, 98%;

        --muted: 0, 0%, 83.1%;
        --muted-foreground: 240 5% 64.9%;

        --accent-light: 50, 100%, 52%;
        --accent: 46, 100%, 50%;
        --accent-foreground: 0, 0%, 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0, 0%, 98%;

        --border: 0, 0%, 14.9%;
        --input: 240 2% 18%;
        --ring: 230 48% 40%;
        --radius: 0.3rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .hover-glow {
        @apply transition duration-200 ease-in-out hover:text-foreground hover:opacity-100;
    }

    /* Integrations connector */
    .signal-line {
        --rotation: 90deg;
        @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
        background-color: hsla(0, 0%, 100%, 0.1);
        background-image: linear-gradient(
            var(--rotation),
            rgba(255, 255, 255, 0) 50%,
            hsl(var(--accent), 0.55) 50%,
            rgba(255, 255, 255, 0) 70%
        );
        background-size: 400% 400%;
    }

    /* Glass Surface */
    .glass-surface {
        @apply relative p-3;
    }

    .glass-surface::before {
        @apply absolute inset-0 -z-10 rounded-lg border border-primary-600/60 bg-primary-600/45 backdrop-blur-md;
        content: "";
    }

    /* CTA Button Animations */
    .radial-bg {
        background: radial-gradient(
                circle at 50% 0%,
                hsla(var(--foreground), 0.05) 0%,
                transparent 60%
            ),
            hsla(var(--primary-900), 1);
    }
    .linear-mask {
        mask-image: linear-gradient(
            -75deg,
            white calc(var(--x) + 20%),
            transparent calc(var(--x) + 30%),
            white calc(var(--x) + 100%)
        );
        -webkit-mask-image: linear-gradient(
            -75deg,
            white calc(var(--x) + 20%),
            transparent calc(var(--x) + 30%),
            white calc(var(--x) + 100%)
        );
    }
    .linear-overlay {
        --initialColor: hsla(var(--primary-600), 0.5);
        --glowColor: hsla(var(--accent-light), 0.5);
        background-image: linear-gradient(
            -75deg,
            var(--initialColor) calc(var(--x) + 20%),
            var(--glowColor) calc(var(--x) + 30%),
            var(--initialColor) calc(var(--x) + 100%)
        );
        mask:
            linear-gradient(black, black) content-box,
            linear-gradient(black, black);
        mask-composite: exclude;
        --webkit-mask-composite: xor;
    }

    .linear-overlay:hover {
        --initialColor: hsla(var(--primary-300), 0.5);
    }

    /* Scrollbar */
    .scrollbar {
        /* Non-Standard, But More Styling-Capable Properties */
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: hsl(var(--accent));
            border-radius: 8px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Standardized Properties */
        @supports not selector(::-webkit-scrollbar) {
            scrollbar-color: hsl(var(--accent)) transparent;
            scrollbar-width: thin;
        }
    }

    /* Orientation */
    .text-vertical {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 0;
}

li {
    list-style: none;
}

::selection {
    color: hsl(var(--background));
    background: hsl(var(--accent), 80%);
}

::-moz-selection {
    /* Code for Firefox */
    color: hsl(var(--background));
    background: hsl(var(--accent), 80%);
}
