@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 4% 5%;
    --foreground: 0 0% 98%;

    --card: 240 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 240 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 230 48% 39%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 2% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 2% 18%;
    --muted-foreground: 228 2% 49%;

    --accent: 229 18% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 2% 12%;
    --input: 240 2% 18%;
    --ring: 230 48% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

li {
  list-style: none;
}
